@model SistemaContas.Presentation.Models.ContasEdicaoViewModel

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">

            <h5>Edição de Contas</h5>
            <p>Utilize o formulário abaixo para alterar os dados da conta.</p>
            <hr />

            @using (Html.BeginForm())
            {
                <div>
                    @Html.HiddenFor(model => model.Id)
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <label>Nome da conta:</label>
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Nome)
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Valor da conta:</label>
                        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Valor)
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Data da conta:</label>
                        @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "date" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Data)
                        </span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Tipo da conta:</label>
                        <div>
                            @Html.RadioButtonFor(model => model.Tipo, 1) <span>Conta a Receber</span>
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.Tipo, 2) <span>Conta a Pagar</span>
                        </div>
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Tipo)
                        </span>
                    </div>
                    <div class="col-md-9">
                        <label>Categoria da conta:</label>
                        @Html.DropDownListFor(model => model.IdCategoria,
                    Model.Categorias, "Escolha uma opção", new { @class = "form-select" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.IdCategoria)
                        </span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <label>Observações:</label>
                        @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Observacoes)
                        </span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Salvar Alterações" />
                    </div>
                </div>

            }

        </div>
    </div>
</div>